# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
*.venv/

# Django specific
*.sqlite3
*.log
media/
staticfiles/
*.pyc

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# MySQL dump files (if you make any)
*.sql